@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700&display=swap');
@import url('./poppins.css');
html,
body {
    font-family: 'Poppins', sans-serif;
    overflow-y: auto;
}
* {
    -webkit-tap-highlight-color: transparent;
}
.phoneInput input {
    border: 0;
    outline: none;
}
.phoneInput input:focus,
.phoneInput input:active {
    border: 0;
    outline: none;
    box-shadow: none;
}
/* .aos-init[data-aos][data-aos].aos-animate {
    transform: unset;
} */
.candidateSearch {
    background: url('../public/images/candidateSearch.svg') no-repeat;
    background-size: cover;
}
.homeLeafPattern {
    background: url('../public/icons/HomeLeafPattern.svg') no-repeat;
    background-size: 80%;
    background-position-y: 20%;
}
.homeSurvey {
    background: url('https://raw.githubusercontent.com/pos1234/palmjobs/main/public/images//HomeSurvey.svg') no-repeat;
    /*     background: url('../public/images/HomeSurvey.svg') no-repeat;
 */
    background-size: cover;
    background-position-y: 20%;
}
::-webkit-scrollbar {
    width: 15px;
}
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 15px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
}
::-webkit-scrollbar-thumb {
    background-color: #74d18d;
    border-radius: 10px;
}
.thinScrollBar::-webkit-scrollbar {
    width: 5px;
}
.thinScrollBar::-webkit-scrollbar-track {
    box-shadow: inset 0 0 15px rgba(0, 0, 0, 0);
    border-radius: 10px;
}
.thinScrollBar::-webkit-scrollbar-thumb {
    background-color: /* #74d18d */ rgba(0, 0, 0, 0.2);
    border-radius: 10px;
}
.buttonBounce:hover {
    animation: bounce;
    animation-duration: 1s;
    animation-fill-mode: forwards;
}
@keyframes bounce {
    0% {
        transform: translateY(0);
    }
    40% {
        transform: translateY(-5px);
    }
    60% {
        transform: translateY(-4px);
    }
    80% {
        transform: translateY(-5px);
    }
    100% {
        transform: translateY(-5px);
    }
}
.hideScrollBar::-webkit-scrollbar {
    display: none;
}
.hideIncrease::-webkit-inner-spin-button,
.hideIncrease::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
.ql-snow.ql-toolbar {
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
}
.ql-container {
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
}
.appearNone::-webkit-calendar-picker-indicator {
    margin-right: 1rem;
    cursor: pointer;
}
.jobsBack {
    background: url('../public/images/profilePattern.svg') no-repeat;
    background-size: cover;
}
.fadedSuccess {
    opacity: 0;
    animation-name: fade-in;
    animation-duration: 2s;
    animation-fill-mode: forwards;
}
.profilePattern {
    background: url('../public/images/profilePattern.svg') no-repeat;
    background-position-y: 20%;
    background-size: cover;
}
.employerBack {
    background: url('../public/images/jobsBack.svg') repeat-y;
    background-position-x: -55%;
}
.surveryBack {
    background: url('../public/images/salaryTipPattern.svg') no-repeat;
    background-position: bottom;
    background-size: 100%;
    background-position-y: 100%;
    background-color: #f4f4f4;
}
/* .loginCoursel {
    background: url('../public/images/MaskGroup.svg') no-repeat;
    background-size: 100%;
    background-position-x: center;
    background-position-y: -100%;
} */
.accountBack {
    background: url('../public/images/carouselBackgorund.png') no-repeat;
    background-size: cover;
    background-position-x: center;
    background-position-y: 70%;
}
/* .loginCoursel {
    background: url('../public/images/loginCricle.svg') no-repeat;
    background-size: 100%;
    background-position-x: center;
    background-position-y: -100%;
} */
@keyframes fade-in {
    0% {
        opacity: 0;
    }
    20% {
        opacity: 1;
    }
    80% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}
#photo-upload {
    display: none;
}
/* #projectUpload{
    opacity: 1;
    position: absolute;
    border:1px solid red;
} */
.profilePictureContainer {
    position: relative;
    overflow: hidden;
}
.profilePictureContainer:hover .custom-file-upload {
    bottom: -0.5rem;
    transition: all 0.5s;
}
.custom-file-upload {
    display: inline-block;
    position: absolute;
    cursor: pointer;
    background: rgba(255, 255, 255, 0.2);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(3px);
    -webkit-backdrop-filter: blur(5px);
    border: none;
    text-align: center;
    padding: 1rem;
    bottom: -50%;
    width: 100%;
    height: 50%;
    overflow: hidden;
    transition: all 0.5s;
}
@media screen and (max-width: 768px) {
    .homeSurvey {
        background: url('https://raw.githubusercontent.com/pos1234/palmjobs/main/public/images/candidateSearch.svg') no-repeat;
        /*     background: url('../public/images/HomeSurvey.svg') no-repeat;
     */
        background-size: cover;
        background-position-x: 100%;
    }
}
