.hamburger-menu {
    align-items: center;
    width: 30px;
    height: 30px;
    cursor: pointer;
    padding: 3px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    row-gap: 5px; 
}
.bar:first-child {
    width: 24px;
    margin-right: 8px;
    height: 2px;
    background-color: rgb(43, 43, 43);
}
.bar:last-child {
    width: 24px;
    margin-left: 8px;
    height: 2px;
    background-color: rgb(43, 43, 43);
}